* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    --dark-color: #39506a;
    --medium-color: #587ba4;
    --light-color: #fff7;
    --target-color: #FF8B00;
    --neutral-color: darkgray;
    display: flex;
    flex-grow: 1;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    user-select: none;
}

aside.bans {
    align-content: space-around;
    color: var(--neutral-color);
    display: grid;
    justify-content: center;
    text-align: center;
    width: 10%;
}
    aside.bans .ban {
        line-height: 1;
    }
        aside.bans .ban:before {
            content: attr(data-title);
            display: block;
            font-size: 0.8rem;
        }
        aside.bans .ban:after {
            content: attr(data-value);
            display: block;
            font-size: 2.5rem;
            font-weight: lighter;
        }
    aside.bans .ban.target {
        color: var(--target-color);
    }
    aside.bans .ban.highlight:before {
        font-weight: bold;
        text-transform: uppercase;
    }

#intro {
    align-items: center;
    background: linear-gradient(45deg, var(--target-color), var(--dark-color));
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1.5rem;
    height: 100%;
    justify-content: center;
    padding: 5%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 100;
}
    #intro.loading {
        cursor: default;
        pointer-events: none;
    }
    #intro > * {
        margin: 0;
        max-width: 850px;
    }
    #intro .controls {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }
        #intro .controls:after {
            content: 'Continue';
            font-size: 2rem;
            margin: 1rem;
            text-transform: uppercase;
            animation: fadeIn 2s;
        }
        #intro.loading .controls:before {
            animation: spin 1.2s linear infinite;
            border: 0.5rem solid transparent;
            border-top-color: #fff;
            border-radius: 50%;
            content: '';
            display: block;
            height: 5rem;
            width: 5rem;
        }
        #intro.loading .controls:after {
            animation: none;
            content: 'Loading Data...';
            font-size: 2rem;
            margin: 1rem;
            text-transform: uppercase;
        }
    #intro .note {
        font-size: 1rem;
    }
        #intro .note:before {
            content: '*'
        }


#navigation {
    background:#fff;
    bottom: 0;
    color: #000;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5rem;
    gap: 1.5rem;
    height: 30%;
    justify-content: space-between;
    opacity: 0.3;
    padding: 1rem;
    position: absolute;
    text-align: center;
    transition: ease .5s;
    width: 100%;
    z-index: 50;
}
    #navigation button {
        border: 0;
        background: none;
        cursor: pointer;
        flex-grow: 1;
        font-size: 3rem;
    }
        #navigation button:hover {
            color: #fff;
            background: gray !important;
        }
        #navigation button:active {
            background: lightgray !important;
        }
    #navigation:hover {
        box-shadow: 1em 1em 2em 1em #0009;
        opacity: 1;
        z-index: 150;
    }
        #navigation:hover button.target {
            background: var(--target-color);
        }
    #navigation.hidden {
        bottom: -30%;
    }








main {
    flex-grow: 1;
    margin-top: 0;
    padding: 1rem;
    pointer-events: none;
    transition: ease 1s;
}
    main.interactive {
        pointer-events: all;
    }
    main > h1 {
        margin: 0 0 1rem 0;
        font-size: 2rem;
        font-weight: lighter;
    }
    main > section {
        height: calc(100% - 3.5rem);
    }

.annotation {
    background: var(--target-color);
    border-radius: 0.5rem;
    box-shadow: .2em .2em .5em #0002;
    color: #fff;
    padding: 1rem;
    position: fixed;
    transform: translateX(20%);
    transition: ease 1s;
    z-index: 100;
}
    .annotation.done {
        background: #fff;
        color: var(--dark-color);
    }

.tooltip {
    background: var(--medium-color);
    border-radius: 1rem;
    display: grid;
    font-size: 0.75rem;
    gap: 0.5rem;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    padding: 1rem;
    position: absolute;
    transform: translate(calc(-100% - 1.5rem), -50%);
    visibility: hidden;
    width: 20rem;
}
    .tooltip dt {
        color: var(--light-color);
        text-align: right;
    }
    .tooltip dd {
        color: #fff;
        margin-inline-start: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

aside.parameters {
    align-items: center;
    align-content: start;
    background: var(--medium-color);
    cursor: default;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    padding: 1rem;
    pointer-events: none;
    width: 26%;
}
    aside.interactive {
        pointer-events: all;
    }
    aside.parameters div {
        display: flex;
        align-items: center;
    }
    aside.parameters label:not(.toggle) {
        color: #fffa;
        font-size: 0.75rem;
    }
    aside.parameters .toggle {
        border: .15rem solid var(--light-color);
        border-radius: 1rem;
        cursor: pointer;
        display: inline-block;
        height: 1.75rem;
        padding: 0;
        position: relative;
        width: 3rem;
    }
        aside.parameters .toggle:hover {
            background: #fff3;
        }
        aside.parameters .toggle input {
            display: none;
        }
        aside.parameters .toggle span {
            background-color: #0007;
            border-radius: 50%;
            display: inline-block;
            height: 100%;
            position: absolute;
            transition: ease .5s transform;
            width: 50%;
        }
        aside.parameters .toggle :checked ~ span {
            background-color: #fff;
            transform: translateX(100%);
        }
    aside.parameters select {
        background: var(--medium-color);
        border: none;
        border-bottom: .2rem solid var(--light-color);
        color: white;
        font-size: 1rem;
        margin-bottom: 1rem;
        outline: none;
        padding: .25rem;
        width: 100%;
    }
        aside.parameters select:hover,
        aside.parameters select:focus {
            background: var(--dark-color);
        }
        aside.parameters select:focus {
            border-bottom-color: transparent;
        }
    aside.parameters input[type=range] {
        --size: 2em;
        -webkit-appearance: none;
        align-items: center;
        background: var(--light-color);
        border-radius: calc(var(--size) / 2);
        height: var(--size);
        opacity: 0.7;
        outline: none;
        position: relative;
        transition: opacity .2s;
        width: 50%;
    }
        aside.parameters input[type=range]:after {
            content: attr(data-text-before) attr(data-value) attr(data-text-after);
            color: var(--light-color);
            left: calc(100% + 1em);
            position: absolute;
            width: 100%;
        }
        aside.parameters input[type=range]:hover {
            opacity: 1;
        }
        aside.parameters input[type=range]::-moz-range-thumb {
            width: var(--size);
            height: var(--size);
            background: var(--dark-color);
            cursor: pointer;
            border-radius: calc(var(--size) / 2);
        }
        aside.parameters input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: var(--size);
            height: var(--size);
            background: var(--dark-color);
            cursor: pointer;
            border-radius: calc(var(--size) / 2);
        }

@keyframes spin {
    to { transform: rotate(360deg); }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}