* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-grow: 1;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

#intro {
    align-items: center;
    background: linear-gradient(45deg, #FF8B00, #0200C6);
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1.5rem;
    height: 100%;
    justify-content: center;
    padding: 5%;
    position: absolute;
    text-align: center;
    user-select: none;
    width: 100%;
    z-index: 100;
}
    #intro.loading {
        cursor: default;
        pointer-events: none;
    }
    #intro > * {
        margin: 0;
        max-width: 850px;
    }
    #intro .controls {
        align-items: center;
        display: flex;
        flex-grow: 1;
    }
        #intro .controls:after {
            content: 'Continue';
            font-size: 2rem;
            margin: 1rem;
            text-transform: uppercase;
        }
        #intro.loading .controls:before {
            animation: spin 1.2s linear infinite;
            content: ' ';
            display: block;
            width: 5rem;
            height: 5rem;
            border: 0.5rem solid transparent;
            border-top-color: #fff;
            border-radius: 50%;
        }
        #intro.loading .controls:after {
            content: 'Loading Data...';
            font-size: 2rem;
            margin: 1rem;
            text-transform: uppercase;
        }
    #intro .note {
        font-size: 1rem;
    }
        #intro .note:before {
            content: '*'
        }
    #intro.hidden {
        display: none;
    }










button {
    cursor: pointer;
}

main {
    flex-grow: 1;
    margin-top: 0;
    padding: 1rem;
    transition: ease 1s;
}
    main > section {
        height: 100vh;
        width: 70vw;
    }
        main > section::before {
            content: attr(data-index) '. ' attr(data-title);
            display: block;
            margin-bottom: 1rem;
            font-size: 2rem;
        }
    [data-index='1'] main {
        margin-top: 0;
    }
    [data-index='2'] main {
        margin-top: -100vh;
    }
    [data-index='3'] main {
        margin-top: -200vh;
    }
    [data-index='4'] main {
        margin-top: -300vh;
    }



aside {
    background: #587ba4;
    cursor: default;
    height: 100vh;
    padding: 1rem;
    user-select: none;
    width: 20rem;
}
    aside ul {
        list-style: none;
        margin: 0 0 1rem 0;
        padding: 0;
    }
        aside ul li {
            color: #fff;
            margin: 0.5rem 0;
        }
            aside ul li::before {
                content: attr(data-index) '. ';
            }
            [data-index='1'] aside ul li[data-index='1'],
            [data-index='2'] aside ul li[data-index='2'],
            [data-index='3'] aside ul li[data-index='3'],
            [data-index='4'] aside ul li[data-index='4'] {
                font-weight: bold;
            }
    aside button {
        width: 50%;
    }
    [data-index='1'] #previous,
    [data-index='4'] #next {
        color: gray;
        pointer-events: none;
    }
    aside label:not(.toggle) {
        color: #fffa;
        font-size: 0.75rem;
    }
    aside .toggle {
        border: .15rem solid #fff7;
        border-radius: 1rem;
        cursor: pointer;
        display: inline-block;
        height: 1.75rem;
        padding: 0;
        position: relative;
        width: 3rem;
    }
        aside .toggle:hover {
            background: #fff3;
        }
        aside .toggle input {
            display: none;
        }
        aside .toggle span {
            background-color: #0007;
            border-radius: 50%;
            display: inline-block;
            height: 100%;
            position: absolute;
            transition: ease .5s transform;
            width: 50%;
        }
        aside .toggle :checked ~ span {
            background-color: #fff;
            transform: translateX(100%);
        }
    aside select {
        background: #587ba4;
        border: none;
        border-bottom: .2rem solid #fff7;
        color: white;
        font-size: 1rem;
        margin-bottom: 1rem;
        outline: none;
        padding: .25rem;
        width: 100%;
    }
        aside select:hover,
        aside select:focus {
            background: #39506a;
        }
        aside select:focus {
            border-bottom-color: transparent;
        }

@keyframes spin {
    to { transform: rotate(360deg); }
}
