.scatterplot {
    font-size: 8px;
    max-width: 100%;
    max-height: 100%;
}
    .scatterplot circle {
        r: 1%;
        fill: transparent;
        stroke: var(--neutral-color);
    }
        .scatterplot circle.target {
            stroke: var(--target-color);
        }

    .scatterplot text {
        font-size: 0.5rem;
    }

    .scatterplot text.axis-label {
        fill: var(--neutral-color);
        font-weight: lighter;
        text-anchor: middle;
    }
    .scatterplot text.title {
        fill: var(--neutral-color);
        font-size: 0.65rem;
    }

.measure { }
    .measure g {
        transform: translate(50%, 100%) rotate(90deg);
    }
    .measure path {
        fill: #00000044;
    }
        .measure path:first-child {
            fill: #ff0000;
        }