.scatterplot {
    font-size: 8px;
    max-width: 100%;
    max-height: 100%;
}
    .scatterplot circle {
        r: 1%;
        fill: #ffffff01;
        stroke: var(--neutral-color);
    }
        .scatterplot circle.target {
            stroke: var(--target-color);
        }
        .scatterplot circle:hover {
            stroke: yellow;
        }

    .scatterplot text {
        font-size: 0.5rem;
    }

    .scatterplot text.axis-label {
        fill: var(--neutral-color);
        font-weight: lighter;
        text-anchor: middle;
    }
    .scatterplot text.title {
        fill: var(--neutral-color);
        font-size: 0.65rem;
    }

.ban {
    line-height: 1;
}
    .ban:before {
        content: attr(data-title);
        display: block;
        font-size: 0.8rem;
    }
        .ban.highlight:before {
            font-weight: bold;
            text-transform: uppercase;
        }
    .ban:after {
        content: attr(data-value);
        display: block;
        font-size: 2.5rem;
        font-weight: lighter;
    }
    .ban.target {
        color: var(--target-color);
    }